.dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-box {
  background: none;
  padding: 10px;
  border: 1px solid #e0e0e0;
}

.dropdown-box option {
  background-color: var(--card-color);
  color: var(--text-color);
}

.dropdown-box:focus {
  outline: none;
}
.dropdown-container p {
  padding-left: 10px;
  color: var(--accent-color);
}
