* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
}

#root {
  height: 100vh;
  width: 100vw;
  background: var(--primary-color);
}

/* Global css variables */

:root {
  --primary-color: #e6edf3;
  --secondary-color: #181b1c;
  --accent-color: #bd1e4b;
  --card-color: #22272d;
  --text-color: #fff;
}

/* Reusable css classes */

.normal-text, .medium-text, .header-text, .large-text {
  color: var(--text-color);
}

.normal-text {
  font-size: 0.75rem;
  font-weight: 400;
} 

.medium-text {
  font-size: 1rem;
  font-weight: 600;
}

.header-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.large-text {
  font-size: 1.5rem;
  font-weight: 600;
}
